@keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Start off-screen to the left */
      opacity: 0; /* Start invisible */
    }
    100% {
      transform: translateX(0); /* End at original position */
      opacity: 1; /* End fully visible */
    }
  }
  

.main-survey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15;
    margin-bottom: 2%;
}

.survey-header{
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 2%;

}

.head-survey-container {
    margin-bottom: 1.5%;
    width: 70%;
    

}

.head-survey-container p {
    margin-bottom: 1%;
    background-color:#e3f2fd;
    padding: 1%;
    border-radius: 10px;
    transition: transform 0.5s ease; 
    animation: slideIn 1.5s ease forwards;
    
}

.survey-option{
    
    align-items: center;
    text-justify: center;
    justify-self: center;
    transition: transform 0.5s ease; 
    animation: slideIn 1.5s ease forwards;
}

.submit-button {
    font-size: 20px;
    background-color: #cdeaff;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px;
    
}

.submit-button:hover {
    box-shadow: 0 4px #373737;
    transform: translateY(4px);
}

.zoom {
    transition: color 0.3s ease, 
    transform 0.3s ease; /* Smooth transition for color and scale */
  }
  
  .zoom:hover {
    color: #3f51b5; /* Change color on hover (example color) */
    height: 5vh;
    transform: scale(1.5); /* Slightly enlarge the text on hover */
    cursor: pointer; /* Change cursor to pointer */
  }
  .survey-box {
    width: 800px;
    margin: 10px auto;
    background-color: #f5f5f5; /* Grey background */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Space inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
    transition: transform 0.3s; /* Smooth transition for zoom effect */
  }
  
  .survey-box:hover {
    transform: scale(1.02); /* Zoom effect on hover */
  }